In [1]:
import os, json
import re
import pandas as pd
import numpy as np
import glob
import csv
import warnings
from pandas import isnull

# from google.colab import drive
# drive.mount('/content/drive')

warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.max_columns', None)

pattern = r'(_d[1-8][ab])'
mapped_seq_df = pd.DataFrame()
list_of_sequences = []

# PLEASE CHANGE THE PATH ACCORDINGLY
your_path = '/Users/surya/Documents/UoM_Dissertation/'

# /Users/surya/Documents/UoM_Dissertation/artifacts/data/raw/Interaction Data

raw_path = your_path + 'artifacts/data/raw/'
preprocess_path =  your_path + 'artifacts/data/preprocessing/'
prediction_path = your_path + 'artifacts/data/prediction/'
json_path = raw_path + 'Interaction Data/'
json_files = os.listdir(json_path)

unwanted_columns = [ 'screen', 'client', 'episodeCount',
       'sessionstartms', 'timezoneOffset', 'sd', 'sid', 'url', 'urlFull',
       'scroll', 'mouse', 'delta', 'key', 'change', 'select'
       'link', 'class', 'img', 'type', 'inheritedId', 'name', 'textValue', 'text', 'textContent']

necessary_columns = ['event', 'timestampms','node', 'user','id', 'dom', 'flag', 'task', 'merged_event']

total_columns = ['_id', 'event', 'screen', 'client', 'episodeCount', 'timestampms',
       'sessionstartms', 'timezoneOffset', 'sd', 'sid', 'url', 'urlFull',
       'mouse', 'node', 'scroll', 'delta', 'key', 'select', 'change', 'user',
       'type', 'textContent', 'text', 'link', 'inheritedId', 'img', 'class',
       'id', 'textValue', 'name', 'dom', 'flag', 'task', 'merged_event']

id_values = ['toDashboard1', 'toDashboard2', 'toDashboard3', 'toDashboard4', 'toDashboard5',
             'toDashboard6', 'toDashboard7', 'toDashboard8', 'toDashboard9', 'toDashboard10',
             'toDashboard11', 'toDashboard12', 'toDashboard13', 'toDashboard14', 'toDashboard15',
             'toDashboard16']

id_value_until_practice_tutorial = id_values[0]

combined_df = pd.DataFrame()

### function definitions

In [2]:
### function definitions

def reading_json_files(json_data):
  json_data = re.sub(r'ObjectId\((.+?)\)', r'\1', json_data)
  tempdf = pd.read_json(json_data, lines=True)
  return tempdf


def cleaning_one(tempdf):
  tempdf['user'] = i
  tempdf.drop(['mobileTouch','evID'], axis=1, inplace = True, errors='ignore')
  return tempdf

def splitting_json_column_values(df):
      # Split the key-value pairs in the node column
      df['node'] = df['node'].apply(lambda x: {} if pd.isnull(x) else x)  # Convert NaN values to empty dictionaries
      # Extract the keys from the node dictionary
      keys = set()
      for node_dict in df['node']:
          keys.update(node_dict.keys())
      # Create new columns for each key
      for key in keys:
          df[key] = [node_dict.get(key) if isinstance(node_dict, dict) else None for node_dict in df['node']]

def updating_dom_element(df):
  count = df[df['dom'].notna() & df['dom'].str.contains('\)')].shape[0]
  # Strip the substring before ')' for non-NA values
  df.loc[df['dom'].notna() & df['dom'].str.contains('\)'), 'dom'] = df['dom'].str.split('\)').str[-1]
  df.reset_index(drop=True, inplace=True)

def removing_rows_of_practice_tutorial(df):
  # filling NA values
  df['id'].fillna(-555, inplace=True)
  # ignoring the indices until the practise tutorial
  last_index = df[df['id'] == id_value_until_practice_tutorial].index[-1]
  # Step 2: Remove all rows before the last index
  df = df.loc[last_index:]
  # Reset the index if desired
  df = df.reset_index(drop=True)

def removing_mid_values_between_toDashboardN_ids(df):
  # Remove mid rows between 'toDashboardN' first and last occurrences
  first_occurrences = {}
  last_occurrences = {}
  for value in range(1, 17):
      id_value = f'toDashboard{value}'
      first_occurrences[id_value] = df[df['id'] == id_value].index[0]
      last_occurrences[id_value] = df[df['id'] == id_value].index[-1]
  # Step 2: Remove the rows between the first and last occurrence for each value
  for value, first_index in first_occurrences.items():
      last_index = last_occurrences[value]
      df = df.drop(index=range(first_index , last_index))

def dropping_mid_rows_between_toDashboardN_ids(df):
  dropped_rows_count = {id_value: 0 for id_value in id_values}
  for id_value in id_values:
      # Get the indices of the first and last occurrence of the id value
      first_occurrence = df.index[df['id'] == id_value].min()
      last_occurrence = df.index[df['id'] == id_value].max()
      # Determine the indices of the middle rows between the first and last occurrence
      middle_rows_indices = list(range(first_occurrence , last_occurrence))
      dropped_rows_count[id_value] = len(middle_rows_indices)
      df.drop(middle_rows_indices, inplace=True)

  # Reset the index of the dataframe
  df.reset_index(drop=True, inplace=True)

def flagging_toDashboard_rows(df):
  df['flag'] = False
  # Step 2: Set the flag to True for rows matching the 'toDashboard' values
  for value in range(1, 17):
      id_value = f'toDashboard{value}'
      df.loc[df['id'] == id_value, 'flag'] = True
      df.reset_index(drop= True, inplace=True)

def merging_events(df):
    df['merged_event'] = df['event']
    # Replace 'mousewheel' with 'scroll'
    df['merged_event'] = df['merged_event'].replace('mousewheel', 'scroll')
    # Merge rows based on the initial conditions
    # df.loc[(df['merged_event'] == 'mouseover') & (df['merged_event'].shift(1) == 'mouseout'), 'merged_event'] = 'hover'
    df['merged_event'] = df['merged_event'].str.replace('mouseover', 'hover').str.replace('mouseout', 'hover')

    df['merged_event'] = df['merged_event'].str.replace('mouseup', 'click').str.replace('mousedown', 'click')
    # df.loc[(df['merged_event'] == 'mouseup') & (df['merged_event'].shift(1) == 'mousedown'), 'merged_event'] = 'click'
    df['merged_event'] = df['merged_event'].str.replace('keyup', 'press').str.replace('keydown', 'press')
    df['merged_event'] = df['merged_event'].str.replace('mobileTouchStart', 'click').str.replace('mobileTouchEnd', 'click')

    # df.loc[(df['merged_event'] == 'keyup') & (df['merged_event'].shift(1) == 'keydown'), 'merged_event'] = 'press'
    df.reset_index(drop=True, inplace=True)

def merging_multiple_events(df):
    df['multi_merged_event'] = df['merged_event']
    # Merge consecutive rows based on the additional conditions
    df.loc[(df['merged_event'].shift(1) == 'hover') & (df['merged_event'] == 'hover'), 'multi_merged_event'] = 'multihover'
    df.loc[(df['merged_event'].shift(1) == 'click') & (df['merged_event'] == 'click'), 'multi_merged_event'] = 'multiclick'
    df.loc[(df['merged_event'].shift(1) == 'press') & (df['merged_event'] == 'press'), 'multi_merged_event'] = 'multipress'
    df.loc[(df['merged_event'].shift(1) == 'scroll') & (df['merged_event'] == 'scroll'), 'multi_merged_event'] = 'multiscroll'
    df.reset_index(drop=True, inplace=True)

def merging_events_master(df):
    df['event_master'] = df['multi_merged_event']
    # Merge consecutive rows based on the additional conditions
    df.loc[(df['multi_merged_event'].shift(1) == 'mouseout') & (df['multi_merged_event'] == 'multihover'), 'event_master'] = 'multihover'
    df.loc[(df['multi_merged_event'].shift(1) == 'mouseout') & (df['multi_merged_event'] == 'hover'), 'event_master'] = 'multihover'
    df.loc[(df['multi_merged_event'].shift(1) == 'hover') & (df['multi_merged_event'] == 'mouseout'), 'event_master'] = 'multihover'
    df.loc[(df['multi_merged_event'].shift(1) == 'multihover') & (df['multi_merged_event'] == 'mouseout'), 'event_master'] = 'multihover'
    df.reset_index(drop=True, inplace=True)

def dropping_multi_hoverings(df):
  df['m_event'] = df['event_master'].ne(df['event_master'].shift()).cumsum()
  df = df[df['event_master'] != 'multihover']  # Remove 'mhover' rows
  df = df.drop_duplicates(subset='m_event', keep='first').drop(columns='m_event')


def initialising_new_column_task(df):
  df['task'] = df['id'].str.extract(pattern)
  df.loc[df['flag'], 'task'] = True
  df.reset_index(drop=True, inplace=True)

def getting_unique_task_values(df_name):
      temp_df = df_name  # Access the DataFrame dynamically using globals()
      # Step 1: Find unique non-NaN values in the 'task' column
      unique_values = temp_df['task'].unique()
      unique_task = next((x for x in unique_values if isinstance(x, str)), None)
      # Step 2: Check if any unique value is a string
      string_pattern = None
      return unique_task

def ignoring_na_dom_values(df):
  df = df[(df['dom'].notna()) | (df['flag'] == True)]
  df.reset_index(drop=True, inplace=True)

def getting_dataframes_task_wise_index(df):
  indices = df.index[df['flag']]
  for i in range(len(indices)-1):
      start = indices[i]
      end = indices[i+1]
      df_name = f"df_db{i+1}"
      globals()[df_name] = df.loc[start:end-1].copy()
  # Create the last DataFrame df_db16 from the last True value to the last row
  start = indices[-1]
  end = df.index[-1]
  df_db16 = df.loc[start:end-1].copy()
  task_wise_split_list = []
  # Step 3: Print the separate DataFrames
  for i in range(1, 16):
      df_name = f"df_db{i}"
      task_wise_split_list.append(globals()[df_name])
  task_wise_split_list.append(df_db16)
  return task_wise_split_list

def dropping_na_values_from_itemset_columns(df_name):
  df_name.loc[df_name['dom'] == '', 'dom'] = np.nan
  df_name.dropna(subset=['dom'], inplace=True)

def dropping_consecutive_rows(df, old_col, new_col):
  consecutive_duplicates = (df['final_event'] == df['final_event'].shift(1))
  # Drop duplicates, keeping only the first occurrence of each consecutive series
  df = df[~consecutive_duplicates]

def dropping_single_transformed_events(df):
  rows_to_remove = df[df['merged_event'] != df['event']].index -1
  # Step 1: Filter rows to remove to avoid KeyError
  valid_rows_to_remove = [idx for idx in rows_to_remove if idx in df.index]
  # Step 2: Remove the rows from the DataFrame
  df.drop(valid_rows_to_remove, inplace=True)
  df = df.reset_index(drop=True)

def dropping_multi_transformed_events(df):
  rows_to_remove = df[df['multi_merged_event'] != df['merged_event']].index -1
  # Step 1: Filter rows to remove to avoid KeyError
  valid_rows_to_remove = [idx for idx in rows_to_remove if idx in df.index]
  # Step 2: Remove the rows from the DataFrame
  df.drop(valid_rows_to_remove, inplace=True)

def dropping_events_master(df):
  rows_to_remove = df[df['event_master'] != df['multi_merged_event']].index -1
  # Step 1: Filter rows to remove to avoid KeyError
  valid_rows_to_remove = [idx for idx in rows_to_remove if idx in df.index]
  # Step 2: Remove the rows from the DataFrame
  df.drop(valid_rows_to_remove, inplace=True)

def defining_sequence(series_list):
  # Concatenate all the series into a single series
  concatenated_series = pd.concat(series_list, ignore_index=True)
  # Append -2 to the end of the final series
  concatenated_series = concatenated_series.append(pd.Series([-2]))
  # removing rows with substring of nan values or index True values from 'Task' column
  sequence = concatenated_series[~concatenated_series.apply(lambda x: str(x).endswith(('Tru_e')))]
  return sequence

def replacing_unique_strings_with_numbers(string_1):
    # Split the big string into words and remove duplicates
    words = string_1.split()
    unique_strings = list(set(words))
    # Remove '-1' and '-2' from the list of unique strings
    unique_strings = [s for s in unique_strings if s not in ['-1', '-2']]
    # Create a mapping dictionary between original string values and numbers
    num_mapping = {}
    next_number = 1  # Start assigning numbers from 1000
    for unique_string in unique_strings:
        num_mapping[unique_string] = str(next_number)
        next_number += 1
    # Replace the unique string values in the big string with their corresponding numbers
    for i in range(len(words)):
        if words[i] in num_mapping:
            words[i] = num_mapping[words[i]]
    # Join the words back into a new string
    new_string = ' '.join(words)
    # Create a DataFrame to store the mapping between the original and new string values
    mapping_df = pd.DataFrame(list(num_mapping.items()), columns=['Original_String', 'New_Number'])
    return new_string, mapping_df

def splitting_string_on_negative_two(input_string):
    # Split the input_string whenever "-2" is encountered
    output_string = re.sub(r'-2\s', '-2\n', input_string)
    return output_string

In [3]:
def defining_itemset(df_name, val):
  df_name['task_val'] =  val
  dropping_na_values_from_itemset_columns(df_name)
  dropping_single_transformed_events(df_name)
  merging_multiple_events(df_name)
  dropping_multi_transformed_events(df_name)
  merging_events_master(df_name)
  dropping_events_master(df_name)

  df_name['itemset'] = df_name['event_master'].astype(str) + "_" + df_name['type'].astype(str)
  # df_name['itemset'] = df_name['merged_event'].astype(str) + "_" + df_name['id'].astype(str) + df_name['dom'].astype(str)
  return df_name['itemset']

def cleaning_three(df_task_list):
  itemset_column = []
  user_sequence = []
  temp_list = []
  for inner_df in df_task_list:
    it = defining_itemset(inner_df, getting_unique_task_values(inner_df))
    itemset_column.append(it.append(pd.Series([-1])))
    temp_list.append(inner_df)
  concatenated_series = pd.concat(itemset_column, ignore_index=True)
  # Step 2: Convert the concatenated Series to a single line string
  single_line = " ".join(concatenated_series.astype(str))
  single_line = single_line + " -2\n"
  # user_sequence.append(defining_sequence(itemset_column))
  return single_line, temp_list

def cleaning_two(data_list):
  df_task_list = []
  one_concatened_dt_list = []
  master_line = ''
  for df in data_list:
      splitting_json_column_values(df)
      updating_dom_element(df)
      removing_rows_of_practice_tutorial(df)
      dropping_mid_rows_between_toDashboardN_ids(df)
      flagging_toDashboard_rows(df)
      initialising_new_column_task(df)
      getting_unique_task_values(df)
      merging_events(df)
      ignoring_na_dom_values(df)
      df_task_list = getting_dataframes_task_wise_index(df)
      line, temp_list = cleaning_three(df_task_list)
      temp_df = pd.concat(temp_list, ignore_index=True)
      one_concatened_dt_list.append(temp_df)
      master_line = master_line + line
  combined_df = pd.concat(one_concatened_dt_list, ignore_index=True)
  return master_line, combined_df

In [4]:
def combining_similar_types(temp_dataframe):
  temp_dataframe['updated_type'] = temp_dataframe['type']
  type_text = ['B', 'STRONG', 'I', 'P', 'GRAMMARLY-MIRROR', 'GRAMMARLY-EXTENSION', 'CENTER' , 'A']
  type_list = ['LI', 'UL']
  type_heading = ['H2', 'H3', 'H4', 'H5', 'HR']
  type_table = ['TD', 'TH']
  type_button = ['COM-1PASSWORD-BUTTON']
  type_graphic = ['rect', 'tspan', 'path', 'IMG']
  type_basic = ['HTML', 'BODY']
  type_select = ['SELECT', 'OPTION']

  # Use .loc to update 'updated_type' column where 'type' column values match the values_to_update
  temp_dataframe.loc[temp_dataframe['type'].isin(type_text), 'updated_type'] = 'TEXT'
  temp_dataframe.loc[temp_dataframe['type'].isin(type_heading), 'updated_type'] = 'HEADING'
  temp_dataframe.loc[temp_dataframe['type'].isin(type_table), 'updated_type'] = 'TABLE'
  temp_dataframe.loc[temp_dataframe['type'].isin(type_button), 'updated_type'] = 'BUTTON'
  temp_dataframe.loc[temp_dataframe['type'].isin(type_graphic), 'updated_type'] = 'GRAPHIC'
  temp_dataframe.loc[temp_dataframe['type'].isin(type_basic), 'updated_type'] = 'BASIC'
  temp_dataframe.loc[temp_dataframe['type'].isin(type_select), 'updated_type'] = 'SELECTION'
  temp_dataframe.loc[temp_dataframe['type'].isin(type_list), 'updated_type'] = 'LISTING'
  return temp_dataframe

def finding_consecutive_pairs(df):
    # Create a new column 'consecutive_pair' to store consecutive pairs
    df['consecutive_master_pair'] = df['event_master'] + ' -> ' + df['event_master'].shift(-1)
    df['consecutive_itemset_pair'] = df['itemset'] + ' -> ' + df['itemset'].shift(-1)
    # Drop the last row as it will have a NaN value for the 'shift(-1)' operation
    df.drop(df.index[-1], inplace=True)
    # Print the consecutive pairs of values in 'event' column
    merged_consecutive_pairs = df['consecutive_master_pair'].unique()

def removing_consecutive_duplicates(df, column_name, event):
    mask = (df[column_name] != event) | (df[column_name].shift() != event)
    df_two = df[mask].copy()
    while True:
        mask = (df_two[column_name] != event) | (df_two[column_name].shift() != event)
        temp_df = df_two[mask]
        if temp_df.equals(df_two):
            break
        df_two = temp_df.copy()
    return df_two

def replacing_consecutive_events(df, column_name, old_event, new_event):
    mask = (df[column_name] == old_event) & (df[column_name].shift() == old_event)
    df.loc[mask, column_name] = new_event
    return df

def merging_click_sequences_recursive(df, column_name, event, new_event):
    mask = (df[column_name] != event) | (df[column_name].shift() != event)
    df = df[mask]
    if any(df[column_name] == event):
        df = replacing_consecutive_events(df, column_name, event, new_event)
        return merging_click_sequences_recursive(df, column_name, event, new_event)
    else:
        return df

def common_values_across_db(series_list):
  # Initialize a set with the values from the first series
  common_values = set(series_list[0])
  # Iterate through the remaining series and update the common_values set
  for series in series_list[1:]:
      common_values.intersection_update(series)
  # Convert the common_values set back to a list if needed
  common_values_list = list(common_values)
  # Print the common values
  print("Common values:", common_values_list)

def user_mapping_with_timestamp(cleaned_df):
  user_mapping = cleaned_df[['user','sessionstartms']]
  list_time = user_mapping.sessionstartms.unique()
  data = { 'User': np.arange(1, len(list_time) + 1), 'Timestamp': list_time }
  user_time = pd.DataFrame(data)
  user_time.to_csv(preprocess_path + 'user_time.csv',index=False)

In [5]:
data_list = [None] * len(json_files)
i = 1
for file in json_files:
    with open(json_path + file, 'r') as fi:
        json_data = fi.read()
    tempdf = cleaning_one(reading_json_files(json_data))
    data_list[i-1] = tempdf
    i = i+1

In [6]:
master_df = pd.concat(data_list, ignore_index=True)
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114761 entries, 0 to 1114760
Data columns (total 20 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   _id             1090484 non-null  object
 1   event           1114761 non-null  object
 2   screen          50 non-null       object
 3   client          50 non-null       object
 4   episodeCount    1114761 non-null  int64
 5   timestampms     1114761 non-null  datetime64[ns]
 6   sessionstartms  1114761 non-null  int64
 7   timezoneOffset  1114761 non-null  int64
 8   sd              1114761 non-null  int64
 9   sid             464350 non-null   object
 10  url             1114761 non-null  object
 11  urlFull         1114761 non-null  object
 12  mouse           833011 non-null   object
 13  node            1082820 non-null  object
 14  scroll          30847 non-null    object
 15  delta           14266 non-null    float64
 16  key             197291 non-null   object
 17  change          34512 non-null    object
 18  select          2027 non-null     object
 19  user            1114761 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(13)
memory usage: 170.1+ MB

In [7]:
master_df.url.value_counts()

http://ec2-18-170-45-231.eu-west-2.compute.amazonaws.com/study/shinyapp/    1088876
http://127.0.0.1:6713/                                                        25885
Name: url, dtype: int64

In [8]:
master_df.timezoneOffset.value_counts()

-60     555639
 0      211008
-180    198177
 360     89616
-120     60321
Name: timezoneOffset, dtype: int64

In [9]:
master_df.describe()

,episodeCount,sessionstartms,timezoneOffset,sd,delta,user
count,1.114761e+06,1.114761e+06,1.114761e+06,1114761.0,14266.000000,1.114761e+06
mean,1.665614e+00,1.635194e+12,-3.945865e+01,777.0,-0.685942,2.569533e+01
std,1.500583e+00,1.505011e+09,1.311301e+02,0.0,8.199605,1.401337e+01
min,1.000000e+00,1.632465e+12,-1.800000e+02,777.0,-109.650000,1.000000e+00
25%,1.000000e+00,1.634077e+12,-6.000000e+01,777.0,-3.000000,1.400000e+01
50%,1.000000e+00,1.634983e+12,-6.000000e+01,777.0,-1.000000,2.500000e+01
75%,2.000000e+00,1.636725e+12,0.000000e+00,777.0,1.250000,3.700000e+01
max,7.000000e+00,1.638791e+12,3.600000e+02,777.0,181.875000,5.000000e+01

In [10]:
master_df.event.value_counts()

mouseover           385267
mouseout            379054
keydown              75974
keyup                65983
keypress             55334
mouseup              36196
change               34512
mousedown            31156
scroll               30847
mousewheel           14390
select                1981
dblclick              1158
mobileTouchEnd         826
mobileTouchStart       763
windowqueryfocus       540
windowqueryblur        504
contextmenu            180
load                    50
copy                    24
cut                     20
paste                    2
Name: event, dtype: int64

In [11]:
file_value, cleaned_df = cleaning_two(data_list)
user_mapping_with_timestamp(cleaned_df)
cleaned_df.head()

,_id,event,screen,client,episodeCount,timestampms,sessionstartms,timezoneOffset,sd,sid,url,urlFull,mouse,node,scroll,delta,key,change,select,user,img,id,dom,class,name,inheritedId,textValue,textContent,type,flag,task,merged_event,task_val,multi_merged_event,event_master,itemset,link,text
0,6164104f4622cf0027242b69,mouseover,NaN,NaN,1,2021-10-11 10:22:07.300,1633946848251,-180,777,NaN,http://ec2-18-170-45-231.eu-west-2.compute.ama...,http://ec2-18-170-45-231.eu-west-2.compute.ama...,"{'coordX': 2445, 'coordY': 1253, 'offsetX': 24...","{'dom': 'id(""tab-2855-6"")/DIV[1]/DIV[1]/DIV[1]...",NaN,NaN,NaN,NaN,NaN,1,None,tab-2855-6,/DIV[1]/DIV[1]/DIV[1],[content-wrapper],None,True,None,\n,DIV,False,NaN,hover,_d7b,hover,hover,hover_DIV,NaN,NaN
1,616410514622cf0027242b6a,change,NaN,NaN,1,2021-10-11 10:22:09.362,1633946848251,-180,777,NaN,http://ec2-18-170-45-231.eu-west-2.compute.ama...,http://ec2-18-170-45-231.eu-west-2.compute.ama...,NaN,"{'dom': 'id(""dr_d7b"")/DIV[1]/INPUT[1]', 'id': ...",NaN,NaN,NaN,"{'type': 'text', 'value': '2020-01-27'}",NaN,1,None,dr_d7b,/DIV[1]/INPUT[1],[form-control],None,True,2020-01-27,null,INPUT,False,_d7b,change,_d7b,change,change,change_INPUT,NaN,NaN
2,616410994622cf0027242c82,mouseout,NaN,NaN,1,2021-10-11 10:23:21.387,1633946848251,-180,777,NaN,http://ec2-18-170-45-231.eu-west-2.compute.ama...,http://ec2-18-170-45-231.eu-west-2.compute.ama...,"{'coordX': 1312, 'coordY': 925, 'offsetX': 126...","{'dom': 'id(""tab-2855-6"")/DIV[1]/DIV[1]/DIV[1]...",NaN,NaN,NaN,NaN,NaN,1,None,tab-2855-6,/DIV[1]/DIV[1]/DIV[1]/SECTION[1]/DIV[5]/DIV[1]...,[row],None,True,None,\n,DIV,False,NaN,hover,_d7b,multihover,multihover,multihover_DIV,NaN,NaN
3,616410994622cf0027242c84,mousewheel,NaN,NaN,1,2021-10-11 10:23:21.483,1633946848251,-180,777,NaN,http://ec2-18-170-45-231.eu-west-2.compute.ama...,http://ec2-18-170-45-231.eu-west-2.compute.ama...,NaN,"{'dom': 'id(""tab-2855-6"")/DIV[1]/DIV[1]/DIV[1]...",NaN,-18.691667,NaN,NaN,NaN,1,None,tab-2855-6,/DIV[1]/DIV[1]/DIV[1]/SECTION[1]/DIV[5]/DIV[1]...,[row],None,True,None,\n,DIV,False,NaN,scroll,_d7b,scroll,scroll,scroll_DIV,NaN,NaN
4,616410b24622cf0027242d3c,mouseout,NaN,NaN,1,2021-10-11 10:23:46.017,1633946848251,-180,777,NaN,http://ec2-18-170-45-231.eu-west-2.compute.ama...,http://ec2-18-170-45-231.eu-west-2.compute.ama...,"{'coordX': 2937, 'coordY': 164, 'offsetX': 65,...","{'dom': 'id(""id1_d7b"")/DIV[1]/LABEL[1]/SPAN[1]...",NaN,NaN,NaN,NaN,NaN,1,None,id1_d7b,/DIV[1]/LABEL[1]/SPAN[1],[],None,True,None,Random 2,SPAN,False,_d7b,hover,_d7b,multihover,multihover,multihover_SPAN,NaN,NaN

In [12]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17294 entries, 0 to 17293
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 16855 non-null  object
 1   event               17294 non-null  object
 2   screen              0 non-null      object
 3   client              0 non-null      object
 4   episodeCount        17294 non-null  int64
 5   timestampms         17294 non-null  datetime64[ns]
 6   sessionstartms      17294 non-null  int64
 7   timezoneOffset      17294 non-null  int64
 8   sd                  17294 non-null  int64
 9   sid                 7576 non-null   object
 10  url                 17294 non-null  object
 11  urlFull             17294 non-null  object
 12  mouse               12474 non-null  object
 13  node                17294 non-null  object
 14  scroll              0 non-null      object
 15  delta               3122 non-null   float64
 16  key                 444 non-null    object
 17  change              853 non-null    object
 18  select              303 non-null    object
 19  user                17294 non-null  int64
 20  img                 3 non-null      object
 21  id                  17294 non-null  object
 22  dom                 17294 non-null  object
 23  class               17294 non-null  object
 24  name                459 non-null    object
 25  inheritedId         15556 non-null  object
 26  textValue           1825 non-null   object
 27  textContent         17294 non-null  object
 28  type                17294 non-null  object
 29  flag                17294 non-null  bool
 30  task                6094 non-null   object
 31  merged_event        17294 non-null  object
 32  task_val            17293 non-null  object
 33  multi_merged_event  17294 non-null  object
 34  event_master        17294 non-null  object
 35  itemset             17294 non-null  object
 36  link                1 non-null      object
 37  text                1 non-null      object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(5), object(30)
memory usage: 4.9+ MB

In [13]:
cleaned_df.type.value_counts()

DIV                     5429
SPAN                    2630
rect                    2001
TD                      1835
INPUT                   1404
SECTION                  799
H3                       780
I                        367
STRONG                   304
TH                       294
BODY                     272
HTML                     243
BUTTON                   223
SELECT                   167
KBD                      146
LABEL                    137
P                         71
A                         52
HR                        25
H5                        20
LI                        19
H2                        15
GRAMMARLY-MIRROR          15
path                      15
OPTION                    12
H4                         5
CENTER                     5
IMG                        3
tspan                      3
GRAMMARLY-EXTENSION        1
UL                         1
COM-1PASSWORD-BUTTON       1
Name: type, dtype: int64

In [14]:
final_string, mapping_dataframe = replacing_unique_strings_with_numbers(file_value)
output_string = splitting_string_on_negative_two(final_string)
# Create and write the output to a text file named 'output.txt'
with open(preprocess_path +  'string_user_seq.txt', 'w') as file:
    file.write(output_string)

In [15]:
finding_consecutive_pairs(cleaned_df)

In [16]:
temp_dataframe = cleaned_df[['event_master','type', 'itemset', 'id','class','dom','user','task_val', 'consecutive_master_pair', 'consecutive_itemset_pair']]
df_two = removing_consecutive_duplicates(combining_similar_types(temp_dataframe), 'event_master', 'multihover')
df_two.dropna(subset=['task_val'], inplace=True)
finding_consecutive_pairs(df_two)

/var/folders/pd/5c5685_16pg8rhq7k0050lt80000gn/T/ipykernel_50995/2576381457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_dataframe['updated_type'] = temp_dataframe['type']

In [17]:
df_two

,event_master,type,itemset,id,class,dom,user,task_val,consecutive_master_pair,consecutive_itemset_pair,updated_type
0,hover,DIV,hover_DIV,tab-2855-6,[content-wrapper],/DIV[1]/DIV[1]/DIV[1],1,_d7b,hover -> change,hover_DIV -> change_INPUT,DIV
1,change,INPUT,change_INPUT,dr_d7b,[form-control],/DIV[1]/INPUT[1],1,_d7b,change -> multihover,change_INPUT -> multihover_DIV,INPUT
2,multihover,DIV,multihover_DIV,tab-2855-6,[row],/DIV[1]/DIV[1]/DIV[1]/SECTION[1]/DIV[5]/DIV[1]...,1,_d7b,multihover -> scroll,multihover_DIV -> scroll_DIV,DIV
3,scroll,DIV,scroll_DIV,tab-2855-6,[row],/DIV[1]/DIV[1]/DIV[1]/SECTION[1]/DIV[5]/DIV[1]...,1,_d7b,scroll -> multihover,scroll_DIV -> multihover_SPAN,DIV
4,multihover,SPAN,multihover_SPAN,id1_d7b,[],/DIV[1]/LABEL[1]/SPAN[1],1,_d7b,multihover -> click,multihover_SPAN -> click_INPUT,SPAN
...,...,...,...,...,...,...,...,...,...,...,...
17287,multihover,DIV,multihover_DIV,tab-9738-21,[row],/DIV[1]/DIV[1]/DIV[1]/SECTION[1]/DIV[2],50,_d4b,multihover -> scroll,multihover_DIV -> scroll_SECTION,DIV
17288,scroll,SECTION,scroll_SECTION,tab-9738-21,[content],/DIV[1]/DIV[1]/DIV[1]/SECTION[1],50,_d4b,scroll -> multihover,scroll_SECTION -> multihover_DIV,SECTION
17289,multihover,DIV,multihover_DIV,line7_d4b,"[user-select-none, svg-container]",/DIV[1]/DIV[1],50,_d4b,multihover -> scroll,multihover_DIV -> scroll_DIV,DIV
17290,scroll,DIV,scroll_DIV,line7_d4b,"[user-select-none, svg-container]",/DIV[1]/DIV[1],50,_d4b,scroll -> multihover,scroll_DIV -> multihover_DIV,DIV
17291,multihover,DIV,multihover_DIV,shiny-modal,[modal-body],/DIV[1]/DIV[1]/DIV[2],50,_d4b,multihover -> multiclick,multihover_DIV -> multiclick_SPAN,DIV

In [18]:
sorted_df = df_two.sort_values(by=['user','task_val'])
unique_task_val = sorted_df['task_val'].unique()
unique_user_val = sorted_df['user'].unique()

# Create an empty list to store the DataFrames
dataframe_sorted_db_list = []
dataframe_sorted_user_db_list = []

db_user_list = []
for user in unique_user_val:
    user_task_df = sorted_df[sorted_df['user'] == user].copy()
    dataframe_sorted_user_db_list.append(user_task_df)

mapped_dashboard_unique_itemsets = []
user_dashboard_wise_seq = []

In [19]:
full_seq = ''
for df in dataframe_sorted_user_db_list:
  itemset_column = []
  concatenated_series = pd.Series()
  unique_its = []
  for task in unique_task_val:
    task_df = df[df['task_val'] == task].copy()
    task_df['its'] = task_df['event_master'].astype(str) + '__' + task_df['updated_type'].astype(str)
    unique_its.append(task_df['its'])
    itemset_column.append(task_df['its'].append(pd.Series([-1])))
  concatenated_series = pd.concat(itemset_column, ignore_index=True)
  single_line = " ".join(concatenated_series.astype(str))
  single_line = single_line + " -2\n"
  full_seq = full_seq + single_line

In [20]:
final, mapping_user_task_dataframe = replacing_unique_strings_with_numbers(full_seq)
output_full_string = splitting_string_on_negative_two(final)
# Create and write the output to a text file named 'output.txt'
with open(preprocess_path + '50_user_seq.txt', 'w') as file:
    file.write(output_full_string)
mapping_user_task_dataframe

          Original_String New_Number
0       scroll__SELECTION          1
1    contextmenu__GRAPHIC          2
2       multiclick__TABLE          3
3         multihover__DIV          4
4             select__DIV          5
..                    ...        ...
108     multihover__TABLE        109
109          scroll__SPAN        110
110      click__SELECTION        111
111         press__BUTTON        112
112         hover__BUTTON        113

[113 rows x 2 columns]

In [21]:
mapping_user_task_dataframe.to_csv(preprocess_path + "encoding_50_seq_events.csv")

In [22]:
# sorting logic

sorted_df = df_two.sort_values(by=['task_val','user'])
unique_task_val = sorted_df['task_val'].unique()
unique_user_val = sorted_df['user'].unique()

dataframe_sorted_db_list = []
dashboard_wise_seq = []

for task in unique_task_val:
    user_task_df = sorted_df[sorted_df['task_val'] == task].copy()
    dataframe_sorted_db_list.append(user_task_df)

for df in dataframe_sorted_db_list:
  itemset_column = []
  concatenated_series = pd.Series()
  for user_no in unique_user_val:
    user_df = df[df['user'] == user_no].copy()
    user_df['its'] = user_df['event_master'].astype(str) + '__' + user_df['updated_type'].astype(str) + '__' + user_df['user'].astype(str)
    itemset_column.append(user_df['its'].append(pd.Series([-1])))

  concatenated_series = pd.concat(itemset_column, ignore_index=True)
  single_line = " ".join(concatenated_series.astype(str))
  single_line = single_line + " -2\n"

  str1, map1 = replacing_unique_strings_with_numbers(single_line)
  mapped_dashboard_unique_itemsets.append(map1)
  dashboard_wise_seq.append(str1)

In [23]:
dataframe_sorted_db_list[0]

,event_master,type,itemset,id,class,dom,user,task_val,consecutive_master_pair,consecutive_itemset_pair,updated_type
49,click,STRONG,click_STRONG,shiny-modal,[],/DIV[1]/DIV[1]/DIV[2]/P[1]/STRONG[1],1,_d1a,click -> select,click_STRONG -> select_STRONG,TEXT
50,select,STRONG,select_STRONG,shiny-modal,[],/DIV[1]/DIV[1]/DIV[2]/P[1]/STRONG[1],1,_d1a,select -> dblclick,select_STRONG -> dblclick_STRONG,TEXT
51,dblclick,STRONG,dblclick_STRONG,shiny-modal,[],/DIV[1]/DIV[1]/DIV[2]/P[1]/STRONG[1],1,_d1a,dblclick -> multihover,dblclick_STRONG -> multihover_DIV,TEXT
52,multihover,DIV,multihover_DIV,shiny-modal,[modal-body],/DIV[1]/DIV[1]/DIV[2],1,_d1a,multihover -> hover,multihover_DIV -> hover_DIV,DIV
315,multiscroll,SECTION,multiscroll_SECTION,tab-7250-18,[content],/DIV[1]/DIV[1]/DIV[1]/SECTION[1],2,_d1a,multiscroll -> multihover,multiscroll_SECTION -> multihover_rect,SECTION
...,...,...,...,...,...,...,...,...,...,...,...
16871,multihover,DIV,multihover_DIV,shiny-modal,[modal-body],/DIV[1]/DIV[1]/DIV[2],49,_d1a,multihover -> change,multihover_DIV -> change_INPUT,DIV
17108,click,DIV,click_DIV,tab-9738-10,[row],/DIV[1]/DIV[1]/DIV[1]/SECTION[1]/DIV[3]/DIV[1]...,50,_d1a,click -> multihover,click_DIV -> multihover_DIV,DIV
17109,multihover,DIV,multihover_DIV,shiny-modal,[modal-body],/DIV[1]/DIV[1]/DIV[2],50,_d1a,multihover -> click,multihover_DIV -> click_SPAN,DIV
17110,click,SPAN,click_SPAN,shiny-modal,[irs],/DIV[1]/DIV[1]/DIV[2]/DIV[3]/SPAN[1]/SPAN[1],50,_d1a,click -> multihover,click_SPAN -> multihover_DIV,SPAN
17111,multihover,DIV,multihover_DIV,shiny-modal,[modal-body],/DIV[1]/DIV[1]/DIV[2],50,_d1a,multihover -> hover,multihover_DIV -> hover_H3,DIV

In [24]:
mapped_dashboard_unique_itemsets[0]

           Original_String New_Number
0          press__SPAN__45          1
1     multihover__TEXT__32          2
2     multiclick__SPAN__41          3
3          select__TEXT__5          4
4           click__DIV__21          5
..                     ...        ...
446    scroll__SECTION__10        447
447        click__SPAN__47        448
448     multihover__DIV__9        449
449  multihover__TABLE__17        450
450    multihover__DIV__28        451

[451 rows x 2 columns]

In [25]:
dashboard_wise_seq[0]

'379 70 287 332 -1 45 197 125 93 13 197 125 411 80 433 109 197 180 197 180 360 80 360 249 220 180 360 125 207 125 207 125 415 180 360 375 360 -1 294 183 162 131 162 400 162 400 35 43 183 19 183 162 400 265 400 310 19 310 275 189 162 442 88 310 162 400 162 400 162 400 265 131 230 183 117 274 331 274 15 310 -1 11 20 315 244 368 350 368 344 368 344 136 244 363 350 363 350 368 344 136 -1 235 4 235 4 235 4 278 142 278 142 76 235 4 235 4 431 235 4 247 431 21 22 -1 23 314 405 376 23 367 405 103 23 314 405 314 -1 152 30 -1 254 371 167 317 327 399 327 184 436 184 436 317 -1 200 97 107 449 200 97 107 427 112 348 112 348 112 449 -1 210 437 210 277 215 347 377 347 377 260 215 437 210 437 210 260 447 260 417 277 215 277 -1 341 82 341 82 341 84 101 257 213 257 -1 217 202 421 316 203 434 -1 394 137 232 329 394 38 172 329 64 329 -1 29 414 100 67 27 67 27 67 100 187 100 369 100 369 100 199 176 414 98 205 263 369 100 252 147 369 446 369 27 323 429 252 429 263 68 252 147 369 39 282 85 67 -1 129 214 92 408 233 408 233 214 129 214 -1 337 37 144 354 443 96 443 52 443 37 -1 175 318 339 383 353 383 353 318 353 318 390 195 95 262 90 450 90 195 175 195 -1 185 74 105 378 -1 237 169 106 208 307 208 157 441 36 156 130 208 102 208 307 208 130 6 157 7 130 208 36 208 102 208 157 208 157 255 157 208 -1 416 87 357 87 357 192 69 87 361 201 357 222 412 99 342 99 342 99 164 342 99 342 99 342 276 159 87 -1 352 296 352 285 231 285 352 285 352 285 231 248 352 55 5 296 -1 12 290 -1 75 113 91 364 75 364 -1 118 283 445 283 445 143 118 153 270 228 173 153 270 153 14 291 14 143 14 8 118 143 445 143 -1 289 49 28 306 384 428 49 306 60 123 338 289 384 428 396 123 154 428 49 -1 273 333 432 115 432 340 374 312 266 393 273 407 272 138 139 324 139 392 158 266 398 432 340 273 340 305 432 349 356 340 -1 389 9 358 42 389 149 245 250 326 42 389 250 132 280 250 397 212 119 225 -1 238 440 451 440 451 -1 297 121 10 330 196 321 381 145 26 321 44 63 381 321 -1 299 391 299 17 299 391 241 194 168 177 -1 227 219 401 124 161 401 355 401 77 430 161 406 302 401 166 406 77 426 61 104 61 406 308 328 166 24 34 -1 261 424 261 424 286 419 155 424 410 155 424 108 424 181 424 410 2 320 224 438 224 286 424 -1 246 46 41 365 370 366 -1 288 258 188 281 303 81 140 135 304 32 146 135 304 388 141 345 420 193 114 345 403 40 122 -1 110 240 56 240 293 25 128 -1 413 234 413 234 413 47 209 226 209 422 53 234 413 178 -1 313 190 313 439 346 242 346 309 243 309 243 242 186 439 -1 223 362 223 150 191 150 271 362 239 174 223 170 73 268 73 268 73 174 -1 163 259 160 16 163 16 160 359 267 133 373 359 -1 418 284 48 218 435 325 269 171 62 171 62 126 78 251 71 171 -1 179 229 395 386 3 425 -1 264 206 372 182 59 334 148 206 -1 211 423 83 385 211 387 -1 298 72 382 319 86 72 382 120 127 151 111 72 -1 336 351 336 351 79 351 79 351 1 295 -1 402 335 -1 116 94 116 292 89 94 89 279 89 292 89 292 301 279 116 65 409 58 409 221 66 94 18 58 409 58 409 94 409 94 253 94 116 94 409 256 448 94 -1 57 204 31 216 444 50 444 216 444 50 444 311 57 311 -1 343 198 51 300 54 300 236 404 236 322 51 380 236 -1 134 33 165 33 -1 -2'

In [26]:
merged_string = ''.join(dashboard_wise_seq)
op_merged = splitting_string_on_negative_two(merged_string)
with open(preprocess_path + '16_task_seq.txt', 'w') as fi:
      fi.write(op_merged)

In [27]:
mapped_dashboard_unique_itemsets

[           Original_String New_Number
 0          press__SPAN__45          1
 1     multihover__TEXT__32          2
 2     multiclick__SPAN__41          3
 3          select__TEXT__5          4
 4           click__DIV__21          5
 ..                     ...        ...
 446    scroll__SECTION__10        447
 447        click__SPAN__47        448
 448     multihover__DIV__9        449
 449  multihover__TABLE__17        450
 450    multihover__DIV__28        451

 [451 rows x 2 columns],
              Original_String New_Number
 0    multihover__SECTION__49          1
 1         hover__HEADING__31          2
 2       multihover__TEXT__32          3
 3    multiclick__GRAPHIC__29          4
 4            select__TEXT__5          5
 ..                       ...        ...
 513      scroll__SECTION__10        514
 514          click__SPAN__47        515
 515     multihover__SPAN__47        516
 516      multihover__SPAN__2        517
 517      multihover__DIV__28        518

 [518 rows x 2 columns],
              Original_String New_Number
 0    multihover__HEADING__37          1
 1      multiclick__BASIC__28          2
 2           scroll__TABLE__1          3
 3            select__TEXT__5          4
 4             click__DIV__21          5
 ..                       ...        ...
 562     multihover__SPAN__47        563
 563        select__TABLE__15        564
 564       multihover__DIV__9        565
 565    multihover__TABLE__17        566
 566      multihover__DIV__28        567

 [567 rows x 2 columns],
               Original_String New_Number
 0     multihover__SECTION__49          1
 1          hover__HEADING__31          2
 2       multiclick__BASIC__28          3
 3       multiscroll__TEXT__25          4
 4              click__DIV__21          5
 ..                        ...        ...
 560  multiscroll__SECTION__10        561
 561          hover__TABLE__22        562
 562        multihover__DIV__9        563
 563     multihover__TABLE__17        564
 564       multihover__DIV__28        565

 [565 rows x 2 columns],
               Original_String New_Number
 0     multihover__SECTION__49          1
 1     multiclick__GRAPHIC__29          2
 2            click__INPUT__49          3
 3            scroll__TABLE__1          4
 4             select__TEXT__5          5
 ..                        ...        ...
 598       multiscroll__DIV__1        599
 599  multiscroll__SECTION__20        600
 600        multihover__DIV__9        601
 601       multihover__DIV__28        602
 602    multihover__SECTION__4        603

 [603 rows x 2 columns],
              Original_String New_Number
 0    multihover__HEADING__37          1
 1      multiclick__BASIC__28          2
 2    multiclick__GRAPHIC__29          3
 3           click__INPUT__49          4
 4             click__DIV__21          5
 ..                       ...        ...
 631      multiscroll__DIV__1        632
 632     multihover__SPAN__47        633
 633       multihover__DIV__9        634
 634      multihover__DIV__28        635
 635   multihover__SECTION__4        636

 [636 rows x 2 columns],
              Original_String New_Number
 0    multihover__SECTION__49          1
 1          click__BUTTON__36          2
 2    multihover__HEADING__37          3
 3      multiclick__BASIC__28          4
 4            select__TEXT__5          5
 ..                       ...        ...
 640         press__INPUT__31        641
 641           hover__DIV__45        642
 642     multihover__SPAN__47        643
 643       multihover__DIV__9        644
 644      multihover__DIV__28        645

 [645 rows x 2 columns],
              Original_String New_Number
 0          click__BUTTON__36          1
 1    multihover__HEADING__37          2
 2      multiclick__BASIC__28          3
 3           click__INPUT__49          4
 4           hover__TABLE__38          5
 ..                       ...        ...
 616         hover__TABLE__22        617
 617       multihover__DIV__9        618
 618  multiclick__SECTION__29        619
 619      multihover__DIV__28        620
 620   multihover__SECTION__4        621

 [621 rows x 2 columns],
              Original_String New_Number
 0    multihover__HEADING__37          1
 1      multihover__INPUT__45          2
 2            select__TEXT__5          3
 3             click__DIV__21          4
 4             hover__DIV__36          5
 ..                       ...        ...
 464  multihover__GRAPHIC__22        465
 465          click__SPAN__47        466
 466       multihover__DIV__9        467
 467    multihover__TABLE__17        468
 468      multihover__DIV__28        469

 [469 rows x 2 columns],
              Original_String New_Number
 0      multiclick__BASIC__28          1
 1            select__TEXT__5          2
 2             click__DIV__21          3
 3      multihover__LABEL__22          4
 4       multiclick__SPAN__37          5
 ..                       ...        ...
 457  multihover__SECTION__30        458
 458           hover__DIV__45        459
 459      multihover__SPAN__2        460
 460      multihover__DIV__28        461
 461   multihover__SECTION__4        462

 [462 rows x 2 columns],
               Original_String New_Number
 0     multihover__SECTION__49          1
 1       multiclick__BASIC__28          2
 2             select__TEXT__5          3
 3              click__DIV__21          4
 4              hover__DIV__36          5
 ..                        ...        ...
 463      multiclick__TEXT__22        464
 464       scroll__SECTION__10        465
 465  multiscroll__SECTION__25        466
 466       multihover__SPAN__2        467
 467       multihover__DIV__28        468

 [468 rows x 2 columns],
              Original_String New_Number
 0    multihover__HEADING__37          1
 1      multiclick__BASIC__28          2
 2             click__DIV__21          3
 3             hover__DIV__36          4
 4       multiclick__TABLE__5          5
 ..                       ...        ...
 428  multihover__SECTION__30        429
 429           hover__DIV__45        430
 430          click__TEXT__14        431
 431         click__TABLE__10        432
 432      multihover__DIV__28        433

 [433 rows x 2 columns],
              Original_String New_Number
 0    multihover__SECTION__49          1
 1          click__BUTTON__36          2
 2      multiclick__BASIC__28          3
 3       multiclick__SPAN__41          4
 4    multiclick__GRAPHIC__29          5
 ..                       ...        ...
 665          hover__SPAN__18        666
 666       click__SECTION__15        667
 667       multihover__DIV__9        668
 668    multihover__TABLE__17        669
 669      multihover__DIV__28        670

 [670 rows x 2 columns],
            Original_String New_Number
 0        click__BUTTON__36          1
 1          hover__SPAN__42          2
 2          select__TEXT__5          3
 3    multihover__LABEL__22          4
 4           hover__DIV__36          5
 ..                     ...        ...
 723     click__SECTION__45        724
 724        click__SPAN__47        725
 725   multihover__SPAN__47        726
 726     multihover__DIV__9        727
 727    multihover__DIV__28        728

 [728 rows x 2 columns],
              Original_String New_Number
 0    multihover__SECTION__49          1
 1         hover__HEADING__31          2
 2      multiclick__BASIC__28          3
 3           click__INPUT__49          4
 4         hover__SECTION__33          5
 ..                       ...        ...
 680  multihover__HEADING__50        681
 681     multihover__SPAN__47        682
 682         hover__TABLE__22        683
 683       multihover__DIV__9        684
 684      multihover__DIV__28        685

 [685 rows x 2 columns],
               Original_String New_Number
 0           click__BUTTON__36          1
 1       multiclick__BASIC__28          2
 2            click__INPUT__49          3
 3             select__TEXT__5          4
 4              click__DIV__21          5
 ..                        ...        ...
 676          hover__TABLE__22        677
 677  multiscroll__SECTION__20        678
 678           hover__TABLE__8        679
 679     multihover__TABLE__17        680
 680       multihover__DIV__28        681

 [681 rows x 2 columns]]

In [28]:
df_two.to_csv(preprocess_path + "event_UI_mapping.csv", index=False)

In [29]:
finding_consecutive_pairs(df_two)

In [30]:
df_two.consecutive_master_pair.value_counts()

multihover -> click          2435
click -> multihover          2153
scroll -> multihover         1474
multihover -> scroll         1412
multihover -> multiclick      716
                             ...
press -> multiscroll            2
multiclick -> contextmenu       1
multihover -> contextmenu       1
multihover -> dblclick          1
dblclick -> multipress          1
Name: consecutive_master_pair, Length: 78, dtype: int64

In [31]:
df_two.consecutive_itemset_pair.value_counts()

multihover_SPAN -> click_SPAN           708
multihover_DIV -> scroll_DIV            427
click_SPAN -> multihover_SPAN           401
click_SPAN -> multihover_DIV            384
change_INPUT -> multihover_DIV          312
                                       ...
press_BODY -> hover_SPAN                  1
hover_SPAN -> press_BODY                  1
select_SECTION -> multiclick_SECTION      1
multiclick_SECTION -> select_SECTION      1
scroll_STRONG -> multihover_SPAN          1
Name: consecutive_itemset_pair, Length: 1756, dtype: int64

In [32]:
cleaned_df.event_master.value_counts()

multihover     6251
click          2995
hover          2172
scroll         2166
multiclick     1085
multiscroll     962
change          853
select          303
press           257
multipress      187
dblclick         58
contextmenu       4
Name: event_master, dtype: int64

In [33]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17293 entries, 0 to 17292
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   _id                       16854 non-null  object
 1   event                     17293 non-null  object
 2   screen                    0 non-null      object
 3   client                    0 non-null      object
 4   episodeCount              17293 non-null  int64
 5   timestampms               17293 non-null  datetime64[ns]
 6   sessionstartms            17293 non-null  int64
 7   timezoneOffset            17293 non-null  int64
 8   sd                        17293 non-null  int64
 9   sid                       7576 non-null   object
 10  url                       17293 non-null  object
 11  urlFull                   17293 non-null  object
 12  mouse                     12473 non-null  object
 13  node                      17293 non-null  object
 14  scroll                    0 non-null      object
 15  delta                     3122 non-null   float64
 16  key                       444 non-null    object
 17  change                    853 non-null    object
 18  select                    303 non-null    object
 19  user                      17293 non-null  int64
 20  img                       3 non-null      object
 21  id                        17293 non-null  object
 22  dom                       17293 non-null  object
 23  class                     17293 non-null  object
 24  name                      459 non-null    object
 25  inheritedId               15555 non-null  object
 26  textValue                 1825 non-null   object
 27  textContent               17293 non-null  object
 28  type                      17293 non-null  object
 29  flag                      17293 non-null  bool
 30  task                      6094 non-null   object
 31  merged_event              17293 non-null  object
 32  task_val                  17292 non-null  object
 33  multi_merged_event        17293 non-null  object
 34  event_master              17293 non-null  object
 35  itemset                   17293 non-null  object
 36  link                      1 non-null      object
 37  text                      1 non-null      object
 38  consecutive_master_pair   17293 non-null  object
 39  consecutive_itemset_pair  17293 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(5), object(32)
memory usage: 5.2+ MB

In [34]:
user_mapping = cleaned_df[['user','sessionstartms']]
list_time = user_mapping.sessionstartms.unique()
data = { 'User': np.arange(1, len(list_time) + 1), 'Timestamp': list_time }
user_time = pd.DataFrame(data)
user_time.to_csv(preprocess_path + 'user_timestamp_mapping.csv',index=False)